@tailwind base;
@tailwind components;
@tailwind utilities;

/* This background photo was taken by Benjamin Voros and was found on Unspash 
https://unsplash.com/fr/photos/montagne-enneigee-sous-les-etoiles-phIFdC6lA4E */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/MountainBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
